.radio-btn--input{
    display: none;
}

.radio-btn--label{
    color: var(--lightGrey);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1.2rem;

    display: flex;
}

.radio-btn--label span {
    width: 1rem;
    height: 1rem;
    padding-left: 2px;
}

.radio-btn--input:checked ~ label{
    background-color: var(--mediumGrey);
    color: var(--white);
}